table
{
  margin-left:10px;
  border: 1px solid black;
  border-collapse: collapse;
}
td
{
  border: 1px solid black;
  border-collapse: collapse;
}
th
{
  border: 1px solid black;
  border-collapse: collapse;
}
td.right
{
  border-collapse: collapse;
  background-color: #74992e;
}
font.right
{
  color: white;
}
