---
route: index
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
        
  </head>
  <body>
    <nav>
      <ul>
        {% for x in site.element %}
        <li onclick="disptable()" id='link'>
          {{x.title}}
        </li>
        {% endfor %}
      </ul>
    </nav>
   <script>
      function disptable()
      {
        let title  = document.getElementById("link").innerHTML;
        let inp = ('{% include tablegen.html i=site.data.'.concat(title)).concat(' %}');
        console.loge(inp);
      }
    </script>
  </body>
</html>
