---
route: index
---

<!DOCTYPE html>
<html class="is-index" data-template="index">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{site.title}} - {{site.description}}</title>
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/website.css">
    <script src="https://cdn.jsdelivr.net/npm/vega@5.21.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.20.2"></script>

    {% include favicons.html %}
  </head>
  <body>
   
    <main class="index">
      <div class="index-collections">
        <div class="container">
          <strong>Standards:</strong>
          <a href="{{site.url}}/experimental/">Experimental</a>
          <a href="{{site.url}}/tech-std/">tech-std</a>
          <a href="{{site.url}}/non tech-std/">non tech-std</a>
          <a href="{{site.url}}/mech/">mech</a>
          <a href="{{site.url}}/elec/">elec</a>
        </div>
      </div>
      <div class="container">
        <div class="index-left">
          {% include components/finder.html %}
        </div>
      </div>
    </main>
    
    {% include google-fonts.html %}
    
    <script src="{{site.url}}/javascript/main.js"></script>
    <script src="{{site.url}}/javascript/index.js"></script>
    
  </body>
</html>
