---
route: index
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% raw %}
    <script>
      function disptable()
      {
        let title  = document.getElementById("link").innerHTML;
        let inp  = '{% include tablegen.html i=site.data.'.concat(title).concat( ' %}');
        let place = document.getElementById('insert')
        place.innerHTML = inp
      }
    </script>
    {% endraw %}    
  </head>
  <body>
    <nav>
      <ul>
        {% for x in site.element %}
        <li onclick="disptable()">
          <a  id='link' >{{x.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <table style = "margin-left:10px">
      <tr>
        <th> Parameter </th>
        <th> value </th>
      </tr>
      <tr id ='insert'>
      </tr>
    </table>
  </body>
</html>
