{% assign counter = 0 %}
{% for svar in include.i %}           
            {% if svar.first %}
               <tr>
                {% include tablegen.html i=svar %}
               </tr>
            {% else %}
                {% if counter==0 %}
                    <td bgcolor = 'green' style="color:white;"> {{svar}}</td>
                   {% assign counter = 1 %}
                {% else %}
                    <td> {{svar}}</td>
                     {% assign counter = 0 %}
                {% endif %}
            {% endif %}
{% endfor %}
