{% for element in site.element %}
<article class="finder-item finder-item--inline" data-element-name="{{element.title}}" data-aocs="{{element.aocs}}" data-eps="{{element.eps}}" data-cdh="{{element.cdh}}" data-comm="{{element.comm}}" data-str="{{element.str}}" data-mission="{{element.mission}}"><a class="finder-item-link" href="{{site.url}}/element/{{element.title}}"><span class="item-name">{{element.title}}</span></a><div class="finder-item-meta"><span class="light light--aocs">AOCS</span><span class="light light--meta">EPS</span><span class="light light--cdh">CDH</span><span class="light light--comm">COMM</span><span class="light light--str">STR</span><span class="light light--mission">mission</span></div></article>
{% endfor %}

