{% for element in site.element %}
<article class="finder-item finder-item--inline" data-element-name="{{element.title}}" data-experimental="{{element.experimental}}" data-tech-std="{{element.elec}}" data-non tech-std="{{element.non tech-std}}" data-mech="{{element.mech}}" data-elec="{{element.elec}}"><a class="finder-item-link" href="{{site.url}}/element/{{element.title}}"><span class="item-name">{{element.title}}</span></a><div class="finder-item-meta"><span class="light light--meta">AOCS</span><span class="light light--selfclosing">EPS</span><span class="light light--inline">CDH</span><span class="light light--block">COMM</span></div></article>
{% endfor %}

